@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: netflix1;
    src: url(./assets/nf-icon-v1-93.woff);
}

@font-face {
    font-family: netflix2;
    src: url(./assets/NetflixSans_W_Rg.woff2);
}

@font-face {
    font-family: netflix3;
    src: url(./assets/NetflixSans_W_Md.woff2);
}

@font-face {
    font-family: netflix4;
    src: url(./assets/NetflixSans_W_Bd.woff2);
}
